.root {
    -fx-background-color: transparent;
}

.progress-bar .track {
    -fx-background-color: rgba(50, 50, 50, 0.5);
    -fx-background-radius: 10;
}

.progress-bar .bar {
    -fx-background-radius: 10;
    -fx-padding: 2px;
}